.login-page{
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-family: 'Source Sans 3';
    padding-top: 100px;

    background-image: url("../../assets/bananaBackground.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.login-card{
    background: #AA671D;
    padding: 2rem 2.5rem;
    border-radius: 20px;
    color: #F4EB49;
    width: 320px;
}

.login-title{
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-family: 'Montserrat';
}

.login-card p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  line-height: 1.5rem;
  color: #F4EB49;
}

.login-label{
    font-size: 1rem;
    color: #F4EB49;
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.input-wrapper,
.password-wrapper {
  display: flex;
  align-items: center;
  background: transparent;
  border: 1px solid #fff8d6;
  border-radius: 10px;
  padding: 0.4rem 0.6rem;
  margin-bottom: 0.8rem;
}
.input-wrapper:focus-within,
.password-wrapper:focus-within {
  border-color: #F4EB49;
  box-shadow: 0 0 0 2px rgba(244, 235, 73, 0.4);
  transition: all 0.25s ease;
}

.input-icon{
    margin-right: 8px;
    font-size: 1rem;
}

.login-input{
    flex: 1;
    outline: none;
    background: transparent;
    height: 50px;
    color: #F4EB49;
    font-size: 1rem;
    border: none;
}

.login-input::placeholder {
  color: #58330A;   
  opacity: 1;       
}

.password-eye{
    cursor: pointer;
    font-size: 1rem;
    color: #F4EB49;
}

.forgot-password{
    display: inline-block;
    margin-bottom: 1rem;
    font-size: 1rem;
    text-decoration: underline;
    color: #F4EB49;
}
.forgot-password:hover {
    color: #58330A;
    transition: color 0.3s ease;
}

.login-btn{
    width: 100%;
    background: #58330A;
    color: #F4EB49;
    border-radius: 10px;
    height: 50px;
    cursor: pointer;
}
.login-btn:hover{
    background: #58330A;
    border-color: #F4EB49;    
    box-shadow: 0 0 0 2px #F4EB49 inset;
    transition: all 0.25s ease;
    text-shadow: black 0px 0px 5px;
}

.signup-text{
    margin-top: 1.5rem;
    font-size: 1rem;
    color: #F4EB49;
    text-align: center;
}
.signup-link{
    margin-top: 1.5rem;
    font-size: 1rem;
    text-decoration: underline;
    color: #F4EB49;
    cursor: pointer;
}
.signup-link:hover {
    color: #58330A;
    transition: color 0.3s ease;
}

.error-box{
    color: red;
    font-size: 0.9rem;
    text-shadow: black 0px 0px 5px;
}
