.hot-now-container {
  display: flex;
  gap: 70px;
  overflow-x: auto;
  padding-top: 8px;
  padding-bottom: 16px;
  
}

.new-releases-wrapper {
  display: flex;
  justify-content: center;
}

.hot-movie-card {
  width: 300px;
  flex-shrink: 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  text-align: center;
  background-color: #FEF67F;
  transition: transform 0.2s;
}

/* Otsikko */
h2 {
  text-align: center;
  color: #FFD700;
  font-size: 1.5rem;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.hot-movie-card:hover {
  transform: scale(1.05);
}

.hot-movie-card img {
  width: 100%;
  border-radius: 4px;
}

.hot-movie-card h4 {
  font-size: 14px;
  margin-top: 8px;
  word-break: break-word;
}

.movie-average-bar {
  width: 70%;
  height: 20px;
  background-color: #8B4513;
  border: 2px solid #8B4513;
  border-radius: 5px;
  margin: 6px auto 0 auto;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.movie-average-fill {
  height: 100%;
  background-color: #FFD700;
  border-radius: 3px 0 0 3px;
  transition: width 0.3s ease;
}

.movie-average-number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.75rem;
  font-weight: bold;
  color: #000;
  white-space: nowrap;
}
/* HotNow scrolli (pystysuuntainen) */
.hot-now-container::-webkit-scrollbar {
  width: 12px; /* scrollbarin leveys */
}

.hot-now-container::-webkit-scrollbar-track {
  background: #FFD700; /* keltainen tausta */
  border-radius: 6px;
}

.hot-now-container::-webkit-scrollbar-thumb {
  background-color: #8B4513; /* ruskea palkki */
  border-radius: 6px;
  border: 3px solid #FFD700; /* pieni marginaali, näyttää selkeämmältä */
}

/* NewReleases scrolli (vaakasuuntainen) */
.new-releases-container::-webkit-scrollbar {
  height: 12px; /* vaakasuuntainen scrolli */
}

.new-releases-container::-webkit-scrollbar-track {
  background: #FFD700;
  border-radius: 6px;
}

.new-releases-container::-webkit-scrollbar-thumb {
  background-color: #8B4513;
  border-radius: 6px;
  border: 3px solid #FFD700;
}
