.new-releases-container {
  display: flex;
  gap: 64px;
  overflow-x: auto;
  padding-top: 8px;
  padding-bottom: 16px;
  
}

.movie-card {
  width: 150px;
  flex-shrink: 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  text-align: center;
  background-color: #FEF67F;
  transition: transform 0.2s;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 100%;
  border-radius: 4px;
}

.movie-card h4 {
  font-size: 14px;
  margin-top: 8px;
  word-break: break-word;
}
