.register-page{
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-family: 'Source Sans 3';
}

.register-card{
    background: #AA671D;
    padding: 2rem 2.5rem;
    border-radius: 20px;
    color: #F4EB49;
    width: 320px;
    height: 480px;
}

.register-title{
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-family: 'Montserrat';
}

.register-card p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  line-height: 1.5rem;
  color: #F4EB49;
}

.register-label{
    font-size: 1rem;
    color: #F4EB49;
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.input-wrapper,
.password-wrapper {
  display: flex;
  align-items: center;
  background: transparent;
  border: 1px solid #fff8d6;
  border-radius: 10px;
  padding: 0.4rem 0.6rem;
  margin-bottom: 0.8rem;
}

.input-icon{
    margin-right: 8px;
    font-size: 1rem;
}

.register-input{
    flex: 1;
    outline: none;
    background: transparent;
    height: 50px;
    color: #F4EB49;
    font-size: 1rem;
    border: none;
}

.register-input::placeholder{
    color: #58330A;   
    opacity: 1;
}

.password-eye{
    cursor: pointer;
    font-size: 1rem;
    color: #F4EB49;
}

.register-btn{
    width: 100%;
    background: #58330A;
    color: #F4EB49;
    border-radius: 10px;
    height: 50px;
    cursor: pointer;
}

.register-btn:hover {   
  border-color: #F4EB49;    
  box-shadow: 0 0 0 2px #F4EB49 inset;
  transition: all 0.25s ease;
}

.login-text{
    margin-top: 1.5rem;
    font-size: 1rem;
    color: #F4EB49;
    text-align: center;
}
.login-link{
    margin-top: 1.5rem;
    font-size: 1rem;
    text-decoration: underline;
    color: #F4EB49;
    cursor: pointer;
}
.login-link:hover {
    color: #58330A;
    transition: color 0.3s ease;
}