.create-group-page{
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-family: 'Source Sans 3';
}
.create-group-form{
    background: #AA671D;
    padding: 2rem 2.5rem;
    border-radius: 20px;
    color: #F4EB49;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.create-group-form label{
    font-size: 1rem;
    margin-bottom: 4px;
    line-height: 1.5rem;
    color: #F4EB49;
}

.group-input{
    background: transparent;
    border: 1px solid #fff8d6;
    border-radius: 10px;
    padding: 0.4rem 0.6rem;
    margin-bottom: 0.8rem;
    width: 100%;
    height: 35px;
    color: #F4EB49;
}
.group-input::placeholder {
    color: #58330A;   
    opacity: 1;
}
.group-input:focus {
    outline: none;
    background: transparent;
    border-color: #F4EB49;
    box-shadow: 0 0 0 2px rgba(244, 235, 73, 0.4);
    transition: all 0.25s ease;
}
.group-textarea{
    background: transparent;
    border: 1px solid #fff8d6;
    border-radius: 10px;
    padding: 0.4rem 0.6rem;
    margin-bottom: 0.8rem;
    width: 100%;
    min-height: 100px;
    height: auto;
    color: #F4EB49;
}
.group-textarea:focus {
    outline: none;
    background: transparent;
    border-color: #F4EB49;
    box-shadow: 0 0 0 2px rgba(244, 235, 73, 0.4);
    transition: all 0.25s ease;
}
.group-textarea::placeholder {
    color: #58330A;   
    opacity: 1;
}
.avatar-input{
    padding: 0.4rem 0.6rem;
    margin-bottom: 0.8rem;
}
.create-group-btn{
    background: #58330A;
    color: #F4EB49;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.create-group-btn:hover{
    background: #58330A;
    border-color: #F4EB49;    
    box-shadow: 0 0 0 2px #F4EB49 inset;
    transition: all 0.25s ease;
    text-shadow: black 0px 0px 5px;
}
.create-error-message{
    color: red;
    font-size: 0.9rem;
    margin-top: 4px;
}
.create-success-message{
    color: green;
    font-size: 0.9rem;
    margin-top: 4px;
}