.discover-groups-section{
    display: flex;
    flex-direction: column;

    color: #F4EB49;
    font-family: Helvetica, sans-serif;
    font-size: 0.9rem;
}
.discover-groups-section h2{
    font-family: serif;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #FFD700;
}
.discover-card{
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 50px;

    color: #F4EB49;
    font-family: Helvetica, sans-serif;
    font-size: 0.9rem;
}
.discover-avatar{
    width: 150px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    background: #777;
}
