.group-invitations-section{
    display: flex;
    flex-direction: column;
    gap: 15px;

    color: #F4EB49;
    font-family: Helvetica, sans-serif;
    font-size: 0.9rem;
}

.group-invitations-section h2{
    font-family: serif;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #FFD700;
}

.invitation-card{
    color: #F4EB49;
    font-family: Helvetica, sans-serif;
    font-size: 0.9rem;
}

.accept-btn,
.decline-btn {
    padding: 8px 14px;
    border-radius: 8px;
    font-size: 0.9rem;
    cursor: pointer;
    border: none;
    color: #FFD700;
    transition: 0.2s ease;
    text-shadow: black 0px 0px 5px;
}

/* Accept button */
.accept-btn {
    background: #AA671D;
    color: green;
    border-radius: 10px;
    min-height: 25px;
    height: auto;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.accept-btn:hover {
    background: #AA671D;
    border-color: green;    
    box-shadow: 0 0 0 2px green inset;
    transition: all 0.25s ease;
    text-shadow: black 0px 0px 3px;
}

/* Decline button */
.decline-btn {
    background: #F4EB49;
    color: red;
    border-radius: 10px;
    min-height: 25px;
    height: auto;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.decline-btn:hover {
    background: #F4EB49;
    border-color: red;    
    box-shadow: 0 0 0 2px red inset;
    transition: all 0.25s ease;
    text-shadow: black 0px 0px 3px;
}
.buttons-container{
    display: flex;
    gap: 10px;
}
