.groups-page {
    background: black;
    color: white;
    min-height: 100vh;
    padding-top: 100px;

    background-image: url("../../assets/bananaBackground.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.groups-header{
    display: grid;
    grid-template-columns: 1fr 1fr 0.7fr;
    grid-template-areas: "left center right";
    padding: 20px 40px;
    gap: 20px;
}

.group-search-input {
    grid-area: center;
    padding: 10px 14px;
    border-radius: 20px;
    border: 5px solid #58330A;
    outline: none;
    background: white;  
}

.group-search-input:focus {
    border-color: #F4EB49;
}

.group-search-input::placeholder {
    color: #58330A;
}

.create-new-group-btn{
    grid-area: right;
    justify-self: end;
    background: #58330A;
    color: #F4EB49;
    border-radius: 10px;
    height: 50px;
    width: 150px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-new-group-btn:hover{
    background: #58330A;
    border-color: #F4EB49;    
    box-shadow: 0 0 0 2px #F4EB49 inset;
    transition: all 0.25s ease;
    text-shadow: black 0px 0px 5px;
}

.btn-icon{
    margin-right: 4px;
    font-size: 1rem;
}

.groups-content {
    display: grid;
    grid-template-columns: 1fr 1fr 0.7fr;
    gap: 30px;
    padding: 20px 40px;
}

.groups-left, .groups-center, .groups-right {
    background: #58330A;
    border-radius: 20px;
    padding: 20px;
    
}

@media (max-width: 1024px){
    .groups-header {
        grid-template-columns: 1fr 1fr; 
        grid-template-areas:
            "center right";
        gap: 15px;
        padding: 20px;
    }

    .group-search-input {
        width: 100%;
    }

    .create-new-group-btn {
        width: 140px;
        height: 45px;
        justify-self: end;
    }

    .groups-content {
        grid-template-columns: 1fr 1fr; 
        gap: 20px;
        padding: 20px;
    }

    .groups-right {
        grid-column: 1 / -1;
    }
}

@media (max-width: 800px) {
    .groups-header {
        grid-template-columns: 1fr;
        grid-template-areas:
            "center"
            "right";
        padding: 15px;
        gap: 12px;

        position: sticky;
        top: 120px;                 /* mihin kohtaan se "tarttuu" */
        z-index: 100;           /* päälle muun sisällön */
        background: transparent;
        padding: 10px 20px;
    }

    .group-search-input {
        width: 100%;
        max-width: 100%;
        padding: 8px 12px;
        font-size: 0.9rem;
    }

    .create-new-group-btn {
        width: 100%;
        max-width: 100%;
        height: 45px;
        justify-self: stretch;
        font-size: 0.95rem;
        border: 1px solid black;
    }

    .groups-content {
        grid-template-columns: 1fr;
        padding: 15px;
        gap: 15px;
    }

    .groups-left,
    .groups-center,
    .groups-right {
        padding: 15px;
    }
}