.group-details-page{
    padding-top: 100px;
    min-height: 100vh;    
    background: black;
    color: white; 
}

.group-details-header{
    padding: 20px 20px;
}
.group-details-header i{
    font-size: 1.5rem;
    cursor: pointer;
    color: #F4EB49;
    background: #58330A;
    border: solid 2px #58330A;
    border-radius: 5px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.group-details-header i:hover{
    border-color: #F4EB49;    
    box-shadow: 0 0 0 0.5px #F4EB49 inset;
    transition: all 0.25s ease;
    text-shadow: black 0px 0px 5px;
}

.group-details-content {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 30px;
    color: #F4EB49;
}

.group-left, .group-center, .group-right{
    background: #58330A;
    border-radius: 20px;
    padding: 20px;

    color: #F4EB49;
    font-family: Helvetica, sans-serif;
    font-size: 0.9rem;
}

.group-left h2, .group-center h2, .group-right h2 {
    margin-top: 0;
    margin-bottom: 15px;
    font-family: serif;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #FFD700;
}

.group-left h3 {
    margin-top: 20px;
    margin-bottom: 10px;

    font-family: serif;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 1.5rem;
    color: #FFD700;
}

.group-avatar {
    width: 150px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    background: #777;
}

.members-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.invite-member-btn{
    background: #AA671D;
    color: #F4EB49;
    border-radius: 10px;
    min-height: 25px;
    height: auto;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.invite-member-btn:hover{
    background: #AA671D;
    border-color: #F4EB49;    
    box-shadow: 0 0 0 2px #F4EB49 inset;
    transition: all 0.25s ease;
    text-shadow: black 0px 0px 5px;
}

.member-list {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.member-list li {
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leave-group-btn, .delete-group-btn, .remove-member-btn {
    background: #F4EB49;
    color: red;
    border-radius: 10px;
    min-height: 25px;
    height: auto;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}
.leave-group-btn:hover, .delete-group-btn:hover, .remove-member-btn:hover {
    background: #F4EB49;
    border-color: red;    
    box-shadow: 0 0 0 2px red inset;
    transition: all 0.25s ease;
    text-shadow: black 0px 0px 2px;
}

.accept-member-btn {
    background: #AA671D;
    color: green;
    border-radius: 10px;
    min-height: 25px;
    height: auto;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}
.accept-member-btn:hover {
    background: #AA671D;
    border-color: green;    
    box-shadow: 0 0 0 2px green inset;
    transition: all 0.25s ease;
    text-shadow: black 0px 0px 3px;
}
.decline-member-btn {
    background: #F4EB49;
    color: red;
    border-radius: 10px;
    min-height: 25px;
    height: auto;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}
.decline-member-btn:hover {
    background: #F4EB49;
    border-color: red;    
    box-shadow: 0 0 0 2px red inset;
    transition: all 0.25s ease;
    text-shadow: black 0px 0px 3px;
}

.invite-list{
    list-style: none;
    padding: 0;
    margin-top: 10px;
}
.invite-list li {
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.accept-buttons{
    display: flex;
    gap: 10px;
}
