.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.search-bar-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-bar {
    margin: 20px;
    text-align: center;
}

.navbar{
    flex: 1 1 200px;             /* Grow, shrink, min-width */
    background-color: #4CAF50;   /* Green background */
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

.middle-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
