.header {
    display: flex;
    flex-direction: row;
    align-items: initial;
    margin-bottom: 20px;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    
}

.search-bar-container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #FEF67F;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

.search-bar {
    text-align: center;
}

.navbar{
    flex: 1 1 100px;             /* Grow, shrink, min-width */
    background-color: #4CAF50;   /* Green background */
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    align-items: center;
    width: 60px;
    height: 15px;
}

.middle-section{
    display: flex;
    flex-direction: column;
}

